<strong>Confirmação de participação</strong>

<p>
  Olá <strong>{{ user }}</strong>, você se inscreveu para participar do
  meetup <strong>{{ meetup }}</strong>, que acontecerá no dia <strong>{{ date }}</strong> às <strong>{{ hour }}</strong>.
</p>

<p>Para confirmar sua participação, clique no link abaixo:</p>

<a href="{{ link }}">Confirmar participação</a>
